/*Page*/

.page {
	line-height: 1.5;
}

.page__body {

}

.logo {
	display: grid;
	grid-template-columns: min-content 1fr;
	column-gap: 8px;
	line-height: 1;
}

.logo__img {
  width: 40px;
	height: 44px;
}

@media (width > 736px) {
	.logo__img {
		grid-row: span 2;
	}
}


.logo__title {
	margin: 0;
	font-weight: bold;
	font-size: 20px;
	letter-spacing: -0.03em;
}

@media (width <= 736px) {
	.logo__title {
		align-self: center;
	}
}

@media (width > 736px) {
	.logo__title {
		align-self: end;
	}
}

.logo__tagline {
	margin: 0;
	font-size: 12px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}

@media (width <= 736px) {
  .logo__tagline {
	  display: none;
  }
}

@media (width > 736px) {
	.logo__tagline {
		align-self: center;
	}
}
/*Header*/
.header {
	display: grid;
	padding: 16px;
}

@media (width <= 736px) {
	.header{
		padding-left: 16px;
		padding-right: 16px;
	}
}
@media (width > 736px) {
	.header__menu {
		align-self: center;
	}
}

/*Menu*/
@media (width <= 736px) {
	.menu {
		display: grid;
	}
	
	.header__menu {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
	}
	
	.header__logo {
		z-index: 1;
	}
}

@media (width > 736px) {
	.menu__list {
		display: grid;
		grid-auto-flow: column;
		column-gap: 8px;
	}
}

@media (width > 736px) {
	header {
		padding-left: 24px;
		padding-right: 24px;
		grid-template-columns: max-content max-content;
		justify-content: space-between;
	}
}

/*Button*/
@media (width <= 736px) {
	.menu__button {
		z-index: 1;
		display: block;
		padding: 0;
		margin: 24px 16px 0 0;
		border: none;
		background-color: transparent;
		justify-self: end;
		cursor: pointer;
		transition: .3s ease;
	}
	
	.menu__button:hover {
		opacity: .7;
	}
}

@media (width > 736px) {
	.menu__button {
		display: none;
		transition: .3s ease;
	}
}

/*List*/

.menu__list {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 12px;
}

@media (width <= 736px) {
	.menu__list {
		display: none;
		row-gap: 8px;
		padding-top: 12px;
		padding-bottom: 24px;
		padding-left: 64px;
		background-color: #fff;
		box-shadow: 0 50vh 0 50vh rgba(59 132 187 / 0.1);
	}
	
	.menu__list_open {
		display: grid;
	}
}
/*Item*/

.menu__item {
	letter-spacing: 0.02em;
	text-transform: uppercase;
}

/*link*/
.menu__link {
	color: #3B84BB;
}

.menu__link_inactive {
  color: #696969;
}

.menu__link_current {
	color: #000;
	text-decoration: none;
	font-weight: bold;
}

.menu__link_patron {
	padding-left: 18px;
}

.menu__link_patron::before {
	width: 16px;
	height: 16px;
	position: absolute;
	margin-left: -18px;
	margin-top: 2px;
	content: url("../../images/patreon.svg");
}

@media (width <= 736px) {
	.menu__link_patron {
		margin-left: -18px;
	}
}
